# Python
__pycache__/
*.py[cod]
*.env
*.log
*.sqlite3

# Django
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Env & IDE
.env
.vscode/
.idea/
*.swp

# Poetry
poetry.lock

# Docker
*.pid
*.tar
*.sock

# Migrations
**/migrations/
!*/migrations/__init__.py